.navBar{
    background: $primaryColor;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5%;
    color: $primaryTextColor;
    a{
        color: $primaryTextColor;
        text-decoration: none;
        margin: 1%;
        font-size: 120%;
    }
    h1{
        margin-right: 3%;
        font-size: 250%;
    }
}