.navBar{
    background: $primaryColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5%;
    color: $primaryTextColor;

    .navLinks{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 33%;
    }

    a{
        color: $primaryTextColor;
        text-decoration: none;
        font-size: 120%;
        padding: 2vh;
    }
    h1{
        margin:0;
        font-size: 250%;
    }
}